<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, nil, {}, class: 'base-select' do %>
    <option value="admin">Admin</option>
    <option value="editor" disabled>Editor</option>
    <option value="viewer" disabled>Viewer</option>
  <% end %>
  
    <%= svg_icon('info_circle', class: 'w-4 h-4 inline align-text-bottom') %>
    Unlock more user roles with Averox Pro.
    <span class="link font-medium">Learn More</a>
  </a>
</div>